@page "/Read/{id}"
@model ContosoCrafts.WebSite.Pages.ReadModel

@if (Model.SelectedProduct != null)
{
    <div class="card">
        <div class="card-body", style="text-align: center">
            <h2>@Model.SelectedProduct.Title</h2>
            <p>@Model.SelectedProduct.Description</p>
            <p>@Model.SelectedProduct.Tags</p>        
            <p>@Model.SelectedProduct.ProductType</p>
            <p>@Model.SelectedProduct.Maker</p>
            <p>@Model.SelectedProduct.Price</p>
            <p>@Model.SelectedProduct.Quantity</p>
        </div>
    </div>
}
