@page "/Read/{id}"
@model ContosoCrafts.WebSite.Pages.ReadModel

@if (Model.SelectedProduct != null)
{
    <div class="card">
        <div class="card-body" style="text-align: center">
            <h2>@Model.SelectedProduct.Title</h2>
            <p>@Model.SelectedProduct.Description</p>
            <p>Category: @Model.SelectedProduct.Category</p>
            <p>Size: @Model.SelectedProduct.Size</p>
            <p>Color: @Model.SelectedProduct.Color</p>
            <p>
                Material:
                @{
                    var materialList = Model.SelectedProduct.Material;
                    for (var i = 0; i < materialList.Count; i++)
                    {
                        @materialList[i]
                        if (i < materialList.Count - 1)
                        {
                            <text>, </text>
                        }
                    }
                }
            </p>
            <p>
                Style:
                @{
                    var styleList = Model.SelectedProduct.Style;
                    for (var i = 0; i < styleList.Count; i++)
                    {
                        @styleList[i]
                        if (i < styleList.Count - 1)
                        {
                            <text>, </text>
                        }
                    }
                }
            </p>
        </div>
    </div>
}
else
{
    <p>Product not found.</p>
}

